{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block body %}
<h2 class="display-2" style="text-align: center;">Log In An Event</h2>
<div class="container" style="width: 400px;">
<form action="" method="POST">
    {{form.hidden_tag()}}

Event Name:{{form.event_name(class="form-control")}} <br>

Event Code:{{form.event_code(class="form-control")}} <br>


<div>
 
</div>
{{form.submit(class="btn btn-success")}}
</form>

{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages  %}
{% for category,message in messages %}
<div class="alert alert-danger" >{{message}}</div>
</div>
{%endfor%}
{%endif%}
{% endwith %}

</div>
<!-- Confirm Password:{{form.confirm_password}} <br> -->
{% endblock %}